<div class="form__field">
  <label class="field__label" for="">
    <span class="field__description required">Населенный пункт</span>
    <div data-state="" class="__select">
      <input placeholder="Напишите населенный пункт" data-default="Option 0" class="__select__title field__input cascader_input address__locality" type="text" tabindex="0">
      <div class="__select__content">
        <input value="" type="radio" class="__select__input" id="locality_0" tabindex="0">
        <label class="__select__label" for="locality_0">Выберите значение</label>
        <input value="" type="radio" class="__select__input" id="locality_1" tabindex="0">
        <label class="__select__label" for="locality_1">Пермь</label>
        <input value="" type="radio" class="__select__input" id="locality_2" tabindex="0">
        <label class="__select__label" for="locality_2">Москва</label>
        <input value="" type="radio" class="__select__input" id="locality_3" tabindex="0">
        <label class="__select__label" for="locality_3">Санкт-Петербург</label>
        <input value="" type="radio" class="__select__input" id="locality_4" tabindex="0">
        <label class="__select__label" for="locality_4">Новосибирск</label>
      </div>
    </div>
  </label>
</div>
<div class="form__field width_max">
  <label class="field__label street" for="">
    <span class="field__description required">Улица</span>
    <div data-state="" class="__select">
      <input placeholder="Выберите улицу" data-default="Option 0" class="__select__title field__input cascader_input address__street" type="text" tabindex="0">
      <div class="__select__content">
        <input checked="" selected="" name="address__street" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Выберите значение</label>
        <input name="address__street" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">1905 года</label>
        <input name="address__street" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Ленина</label>
        <input name="address__street" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Комсомольский проспект</label>
      </div>
    </div>
  </label>
  <label class="field__label housing" for="">
    <span class="field__description">Корпус</span>
    <input placeholder="Введите данные" class="field__input address__housing" type="text" tabindex="0">
  </label>
  <label class="field__label house" for="">
    <span class="field__description">Дом</span>
    <input placeholder="Введите данные" class="field__input address__house" type="text" tabindex="0">
  </label>
</div>
<div class="form__field">
  <label class="field__label" for="">
    <span class="field__description required">Район</span>
    <div data-state="" class="__select">
      <input placeholder="Выберите район" data-default="Option 0" class="__select__title field__input cascader_input address__district" type="text" tabindex="0">
      <div class="__select__content">
        <input checked="" selected="" name="address__district" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Выберите значение</label>
        <input name="address__district" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Дзержинский</label>
        <input name="address__district" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Индустриальный</label>
        <input name="address__district" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Кировский</label>
      </div>
    </div>
  </label>
</div>
<div class="form__field fr">
  <label class="field__label" for="">
    <span class="field__description required">Микрорайон</span>
    <div data-state="" class="__select">
      <input placeholder="Выберите микрорайон" data-default="Option 0" class="__select__title field__input cascader_input address__microdistrict" type="text" tabindex="0">
      <div class="__select__content">
        <input checked="" selected="" name="address__microdistrict" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Выберите значение</label>
        <input name="address__microdistrict" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Закамск</label>
        <input name="address__microdistrict" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Садовый</label>
        <input name="address__microdistrict" type="radio" class="__select__input" id="" tabindex="0">
        <label class="__select__label" for="">Голованово</label>
      </div>
    </div>
  </label>
</div>
<div class="form__field width_max">
  <label class="field__label" for="">
    <span class="field__description required">Адрес</span>
    <input type="text" class="field__input address__concated" name="show_name" disabled="disabled" value="Полученный адрес" />
  </label>
</div>
