<div class="form__field width_max">
  <label class="field__label" for="">
    <span class="field__description required">Вид объекта подключения</span>
    <span class="label__block">
      <label for="">
        <input name="connectobjkind" value="01" class="radio 01" type="radio" tabindex="0" checked />
        Частные домовладения
      </label>
      <label for="">
        <input name="connectobjkind" value="02" class="radio 02" type="radio" tabindex="0" />
        Объекты капитального строительства
      </label>
      <label for="">
        <input name="connectobjkind" value="03" class="radio 03" type="radio" tabindex="0" />
        Реконструкция встроенных помещений
      </label>
    </span>
  </label>
</div>
