<section class="modal modal_instructions hidden">
  <div class="modal__content modal_instructions__content">
    <div class="close"></div>
    <h6 class="modal__header">Выберите инструкцию пользователя</h6>
    <div class="modal__text">
      <a href="" class="instructions__link">
        Инструкция пользователя ЛК физ.лиц
      </a>
      <a href="" class="instructions__link">
        Инструкция пользователя ЛК ЮЛ
      </a>
      <a href="" class="instructions__link">
        Инструкция пользователя ЛК ИП
      </a>
      <a href="" class="instructions__link">
        Инструкция пользователя для органов власти
      </a>
    </div>
  </div>
</section>
