<section class="modal modal_alert hidden" id="alert">
  <div class="modal__content modal_alert__content">
    <div class="close"></div>
    <div class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In corrupti voluptate unde odio fugit? Totam repellendus atque officiis at alias dolores provident harum odit numquam repellat eligendi, magnam sunt nostrum molestias eius impedit expedita. Doloribus magnam, cum numquam sint saepe quae accusamus ducimus eum assumenda excepturi eius, voluptate provident, beatae.
    </div>
    <div class="form__field">
      <button class="form__submit btn btn_close">Закрыть</button>
    </div>
  </div>
</section>
