<section class="modal modal_change_pswd hidden">
  <div class="modal__content modal_change_pswd__content">
    <div class="close"></div>
    <h4 class="modal__header">Сменить пароль</h4>
    <form class="modal__form" action="">
      <div class="form__field">
        <label for="login" class="form__label"></label>
        <input class="form__input login" type="text" placeholder='Старый пароль' />
      </div>
      <div class="form__field">
        <label for="e-mail" class="form__label"></label>
        <input class="form__input e-mail" type="password" placeholder='Новый пароль' />
      </div>
      <div class="form__field">
        <label for="e-mail" class="form__label"></label>
        <input class="form__input e-mail" type="password" placeholder='Подтверждение пароля' />
      </div>
      <div class="form__field">
        <input class="form__submit btn" type="submit" value="Сменить пароль">
      </div>
    </form>
  </div>
</section>
