<div class="modal modal_delete_request hidden" id="confirm">
  <div class="modal__content modal_delete_request__content modal__dialog">
    <div class="close modal__close"></div>
    <h4 class="modal__header modal__title">Вы хотите удалить эту заявку?</h4>
    <div class="form__field normativedoc-button">
      <button class="btn form__button button submit" type="button" id="modal_accept">Согласен</button>
      <a class="btn form__button button cancel" id="delete_cancel">Отмена</a>
    </div>
  </div>
</div>
