<div class="form__field queue_launch__trigger width_max">
  <label for="" class="field__label">
    <span class="field__description">Подключение по этапам</span>
    <span class="label__block">
      <label for="">
        <input type="radio" name="queue_launch" class="radio" value="yes" />
        Да
      </label>
      <label for="">
        <input type="radio" name="queue_launch" class="radio" value="no" checked />
        Нет
      </label>
    </span>
  </label>
</div>
<div class="form__field queue_launch queue_launch_no">
  <label for="" class="field__label">
    <span class="field__description">Плановый срок ввода в эксплуатацию для объекта</span>
    <input value="" name="statementtc_dateplan" placeholder="Введите данные" autocomplete="off" class="field__input datepickerMY_input" type="text" tabindex="0">
  </label>
</div>
<div class="form__field queue_launch queue_launch_yes width_max hidden">
  <h6 class="table__description">Список этапов</h6>
  <table class="field__table">
    <thead class="table__head">
      <tr class="table__row">
        <th class="table__header">Номер этапа</th>
        <th class="table__header">Плановый срок ввода в эксплуатацию</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr class="table__row queue_row">
        <td class="table__cell">Сводная очередь</td>
        <td class="table__cell">
          <input type="text" class="field__input datepicker_input" name="statementtc_dateplan__0" placeholder="Введите данные" />
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn dark_btn queue_btn">Добавить этап</button>
  <button class="btn queue_btn_remove">Удалить этап</button>
</div>
