<section class="modal modal_rules hidden">
  <div class="modal__content modal_rules__content">
    <div class="close"></div>
    <h6 class="modal__header">Правила пользования интерактивным сервисом</h6>
    <div class="modal__text">
      <p>ПП-644 п.90</p>

      <p>90(1). Заявление и документы, предусмотренные пунктом 90 настоящих Правил, представляются на бумажном носителе или в форме электронного документа. Заявление и документы, представленные в форме электронного документа, подписываются лицами, уполномоченными на их подписание в соответствии с законодательством Российской Федерации, с использованием усиленной квалифицированной электронной подписи (для юридических лиц и индивидуальных предпринимателей) или простой электронной подписи (для физических лиц), предусмотренных Федеральным законом "Об электронной подписи".</p>

      <p>Возможность представления заявления и документов в форме электронного документа обеспечивается организацией водопроводно-канализационного хозяйства.</p>

      <p>Представление заявления и документов в форме электронного документа осуществляется заявителем с использованием идентификатора и пароля, выданных посредством официального сайта организации водопроводно-канализационного хозяйства в информационно-телекоммуникационной сети "Интернет" в порядке, установленном организацией водопроводно-канализационного хозяйства. Информация о порядке выдачи и использования идентификатора и пароля размещается на указанном сайте организации водопроводно-канализационного хозяйства.</p>

      <p>При этом организация водопроводно-канализационного хозяйства обязана обеспечить принятие в форме электронного документа заявления и документов заявителей, в том числе возможность бесплатного получения заявителями идентификатора и пароля, и возможность получения заявителями сведений об основных этапах обработки заявлений в режиме реального времени без использования программного обеспечения, установка которого на технические средства заявителя требует заключения лицензионного или иного соглашения с правообладателем программного обеспечения, предусматривающего взимание с заявителя платы, и без использования специальных аппаратных средств.</p>

      <p>Заявитель несет ответственность за достоверность и полноту прилагаемых к заявлению документов в форме электронного документа в соответствии с законодательством Российской Федерации.</p>

      <p>(п. 90(1) введен Постановлением Правительства РФ от 29.06.2017 N 778)</p>

    </div>
  </div>
</section>
