<div class="form__field">
  <label class="field__label" for="">
    <span class="field__description">Кадастровый номер зем. участка/объекта</span>
    <input value="" name="techcondobj_cadnum" placeholder="Введите данные" class="field__input" type="text" tabindex="0">
  </label>
</div>
<div class="form__field fr">
  <label class="field__label" for="">
    <span class="field__description">Площадь земельного участка</span>
    <input placeholder="Введите данные" value="" name="landplot_area" class="field__input" type="text" tabindex="0">
  </label>
</div>
<div class="form__field">
  <label class="field__label" for="">
    <span class="field__description">Вид разрешенного использования</span>
    <input placeholder="Введите данные" value="" name="usage_type" class="field__input" type="text" tabindex="0">
  </label>
</div>
<div class="form__field fr">
  <label class="field__label" for="">
    <span class="field__description required">Наименование объекта подключения</span>
    <input value="" name="statementtc_connectobjname" placeholder="Введите данные" class="field__input" type="text" tabindex="0">
  </label>
</div>
